<div class="panel panel-primary">
  <div class="panel-heading"><h4>Wiki Form</h4></div>
</div>

<%= form_for @wiki do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", placeholder: "Enter title" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 8, class: "form-control", placeholder: "Enter body" %>
  </div>

  <% if current_user.premium? || current_user.admin? %>
    <div><%= f.label :private, class: 'checkbox' 'form-group' do %>
      <%= f.check_box :private %> Private Wiki
      <% end %>
    </div>
  <% end %>
  <br>
  <p><%= f.submit "Submit", class: "btn btn-default btn-success" %></p>
<% end %>