<%= render partial: 'form', locals: { wiki: @wiki } %>

<br>
<h3>Add Collaborators</h3>
<div>
  <ul>
    <% @users.each do |user| %> 
    <li><%= user.name %></li>
    <% end %>
  </ul>
</div>

<%= form_for  @new_collaborator do |f| %>
  <!-- needs user_id and wiki_id -->
  <%= f.hidden_field :wiki_id, value: params[:id] %>
  <%= f.collection_select :user_id, @users, :id, :email %>
  <%= f.submit %>
<% end %>